%div{id: "#{dom_id website}_page_list"}
  %table
    %tbody
      - website.webpages.order(:asset_path).each do |page|
        %tr
          %td<= linked_page_path(page)
          %td<= page.title
          %td<= page.squiz_assetid
          %td<= page.status
          %td<= page.squiz_canonical_url
