%h1 Extract

= turbo_stream_from @website

%p
  Page count: #{@website.webpages.count}
%p
  = render partial: "websites/current_webpage_info", locals: {website: @website, webpage: nil}


= render partial: "page_list", locals: {website: @website}
