%h1 Generate PDF
%h2 Webpages
%table
  %tbody
    - @website.webpages.includes(:asset).each do |page|
      %tr
        %td<= page.asset.assetid
        %td<= page.squiz_canonical_url
%h2 PDFs
%table
  %tbody
    - @website.pdf_assets.each do |asset|
      %tbody
        %tr
          %td<= asset.assetid
          %td<= asset.name
          %td<= asset.asset_urls.first.url
