%h1 Scraping

%table
  %tbody
    - @website.webpages.order(:title, :url).each do |page|
      - pp page
      %tr
        %td<= page.title
        %td<= page.url
        %td<= page.status
        %td<= page.scrape_duration&.round(2)
        %td
          %table
            %tbody
              - page.weblinks.each do |link|
                %tr
                  %td= link.to.url
