%h1 Scrape

%table
  %tbody
    - @website.webpages.order(:page_path).each do |page|
      - pp page
      %tr
        %td<= page.page_path
        %td<= page.title
        %td<= page.url
        %td<= page.status
