%h1 Scrape

%table
  %tbody
    - @website.webpages.order(:title, :url).each do |page|
      - pp page
      %tr
        %td<= page.title
        %td<= page.url
        %td<= page.status
        %td<= page.scrape_duration&.round(2)
