%h1 Spider

= turbo_stream_from @website

%p
  Asset count: #{@website.assets.count}
%p
  = render partial: "websites/current_asset_info", locals: {website: @website, asset: nil}

= render partial: "page_list", locals: {website: @website}
